
.Footer {
    margin: 0;
    position: relative;

    .BrightCard {
        background-color: transparent;

        &:hover {
            background-color: rgba(255, 255, 255, 0.15);
        }

        cursor: pointer;
    }
}
