.GuidePage {

    margin-top: 48px;
    margin-bottom: 128px;

    .MuiButton-root .MuiButton-label a {
        text-decoration: none;
        color: white;
    }

    .ButtonBox {
        width: 100%;
        display: flex;
        justify-content: center;
    }

}
