
.IndexPage {

    margin: 0;
    width: 100vw;
    min-height: 100vh;

    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    background-color: white;

}

a {
    text-decoration: none;
}


@keyframes slideInFromLeft {
    0% {transform: translateX(-800px);}
    100% {transform: translateX(0);}
}

@keyframes slideInFromRight {
    0% {transform: translateX(800px);}
    100% {transform: translateX(0);}
}

.LeftTranslateCard {
    animation-delay: 0.5s;
    animation: slideInFromLeft ease-out 1.5s;
}

.RightTranslateCard {
    animation-delay: 0.5s;
    animation: slideInFromRight ease-out 1.5s;
}





.CollabBox {
    transition: transform ease-out 0.3s;
    transform-origin: top;
}

.CollabBoxInvisible {
    transform: scaleY(0);
}

.CollabBoxVisible {
    transform: scaleY(1);
}