
.IndexPage {

    margin: 100px 0;
    width: 100vw;
    min-height: calc(100vh - 200px);

    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    flex-direction: column;

}