
.IndexPage {

    margin: 0;
    width: 100vw;
    min-height: 100vh;

    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    flex-direction: column;

}

.CollabBox {
    transition: transform ease-out 0.3s;
    transform-origin: top;
}

.CollabBoxInvisible {
    transform: scaleY(0);
}

.CollabBoxVisible {
    transform: scaleY(1);
}