
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    width: 100vw;
    display: flex;
    flex-direction: column;
}